.portifolio {
    margin-top: 150px;

    &__welcome{
        &--subtitle{
            font-size: 14px;
            color: $color-lightn;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 500;
            display: block;
            margin-bottom: 20px;
        }

        &--title{
            font-size: 60px;
            line-height: 75px;
        }

        &--description{
            font-size: 16px;
            line-height: 30px;
            color: $color-lightn;
            padding-right: 16%;
            opacity: 0.9;
        }

        span{
            color: $color-primary;
        }
    }
}
